<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
  
  <servlet>
    <display-name>LogIn</display-name>
    <servlet-name>LogInServlet</servlet-name>
    <servlet-class>Servlet.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>EmployeePageForwardServlet</display-name>
    <servlet-name>EmployeePageForwardServlet</servlet-name>
    <servlet-class>Servlet.EmployeePageForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeePageForwardServlet</servlet-name>
    <url-pattern>/EmployeePage</url-pattern>
  </servlet-mapping>
 
</web-app>