body{
    background: black;
   
    background: -webkit-linear-gradient(to right, rgb(10, 3, 2), rgb(32, 13, 13), rgb(13, 37, 41));
 
    background: linear-gradient(to right, rgb(5, 34, 82), rgb(7, 41, 58), gray);
}
#footer{        
    position: fixed;;
    bottom:0;
    width:100%;
    margin-bottom: 0%;
    margin-top:1%
}
#nav{
    position: fixed;
    top: 0;
    width:100%;
    margin-top:0%; 
    margin-bottom: 1%;
    
}
.jumbotron{
    background-image: url("../assets/jumbo.png");
    background-size: cover;
    margin-top:5%
 
}
