body{
    background: black;
   
    background: -webkit-linear-gradient(to right, rgb(10, 3, 2), rgb(32, 13, 13), rgb(13, 37, 41));
 
    background: linear-gradient(to right, rgb(5, 34, 82), rgb(7, 41, 58), gray);
}
#footer{     
    position: fixed;;
    bottom:0;
    width:100%;
    margin-bottom: 0%;
    margin-top:1%
    
}
.sideMenu{
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    width: 15%;
    position: fixed;
    height: 100%;
    overflow: auto;
    list-style: none

}
.sideMenu ul {
    list-style-type:none
}
